APP_NAME="Mini-RAG"
APP_VERSION="0.1.0"

FILE_ALLOWED_EXTENSIONS=["plain/text", "application/pdf"]
FILE_MAX_SIZE_MB="file size in mb"
FILE_CHUNK_SIZE="chunk size in bytes"

# Database configuration
MONGODB_URI=""
MONGODB_DB_NAME="mini_rag"

# OpenAI API configuration

OPENAI_API_KEY="your_openai_api_key_here"
OPENAI_API_BASE="url_to_your_openai_api_base_here" #https://160a-3.ngrok-free.app/v1/
GENERATE_RESPONSE_MODEL="model to generate response"
EMBEDDINGS_MODEL="embedding model"
EMBEDDING_DIMENSION=
MAX_INPUT_TOKENS=
MAX_RESPONSE_TOKENS=
TEMPERATURE=

#vector database configuration

VECTOR_DB_PATH=
VECTOR_DISTANCE_METRIC=
